<!-- Footer Section -->

{% if page.layout == 'default' %}
{% else %}

<footer class="footer-section bg-dark text-white set-bg" data-setbg="/assets/img/section-bg/bg.jpg">

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="footer-about">
                    <p></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-info">
                    <h6>Ota yhteyttä</h6>
                    <ul>
                        <li>+358451211125</li>
                        <li>marko@sahlman.me</li>
                        <li><a href="http://fb.com/valokuvaajamarkosahlman">http://fb.com/valokuvaajamarkosahlman</a>
                        </li>
                        <li><a href="http://instagram.com/sahlman.tintypes/">http://instagram.com/sahlman.tintypes/</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>


        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;
        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with
        <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

    </div>
</footer>
<!-- Footer Section end-->
{% endif %}



<!--====== Javascripts & Jquery ======-->
<script src="/assets/js/jquery-3.2.1.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/mixitup.min.js"></script>
<script src="/assets/js/masonry.pkgd.min.js"></script>
<script src="/assets/js/fullpage.extensions.min.js"></script>
<script src="/assets/js/main.js"></script>

<!-- Google Analitycs -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132335631-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-132335631-1');
</script>
<!-- END Google Analitycs -->

</body>

</html>