<body class="home-page">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    {% include nav.html %}


    <!-- portfilio Section -->
    <section class="portfilio-page">
        <div class="portfolios-area">
            <div class="grid-sizer"></div>
            <div class="grid-item portfolio-item __big __wide">
                <div class="portfolio-intro text-white">
                    <span>Proffesional Photographer</span>
                    <h2>My Portfolio</h2>
                    <ul class="portfolio-filter controls">
                        <li class="control" data-filter="all">All</li>
                        <li class="control" data-filter=".sensual">Sensual</li>
                        <li class="control" data-filter=".nature">Nature</li>
                        <li class="control" data-filter=".portraits">Portraits</li>
                        <li class="control" data-filter=".weddings">Weddings</li>
                    </ul>
                </div>
            </div>
            <!-- Item -->
            <a href="portfolio-single.html" class="grid-item mix portfolio-item __big set-bg sensual"
                data-setbg="/assets/img/portfolio/1.jpg"></a>
            <!-- Item -->
            <a href="portfolio-single.html" class="grid-item mix portfolio-item set-bg nature"
                data-setbg="/assets/img/portfolio/2.jpg"></a>
            <!-- Item -->
            <a href="portfolio-single.html" class="grid-item mix portfolio-item set-bg portraits"
                data-setbg="/assets/img/portfolio/3.jpg"></a>
            <!-- Item -->
            <a href="portfolio-single.html" class="grid-item mix portfolio-item __big set-bg weddings"
                data-setbg="/assets/img/portfolio/4.jpg"></a>
            <!-- Item -->
            <a href="portfolio-single.html" class="grid-item mix portfolio-item set-bg sensual"
                data-setbg="/assets/img/portfolio/5.jpg"></a>
            <!-- Item -->
            <a href="portfolio-single.html" class="grid-item mix portfolio-item set-bg nature"
                data-setbg="/assets/img/portfolio/6.jpg"></a>
            <!-- Item -->
            <a href="portfolio-single.html" class="grid-item mix portfolio-item set-bg portraits"
                data-setbg="/assets/img/portfolio/7.jpg"></a>
            <!-- Item -->
            <a href="portfolio-single.html" class="grid-item mix portfolio-item set-bg weddings"
                data-setbg="/assets/img/portfolio/8.jpg"></a>
            <!-- Item -->
            <a href="portfolio-single.html" class="grid-item mix portfolio-item set-bg sensual"
                data-setbg="/assets/img/portfolio/9.jpg"></a>
            <!-- Item -->
            <a href="portfolio-single.html" class="grid-item mix portfolio-item set-bg nature"
                data-setbg="/assets/img/portfolio/10.jpg"></a>
            <!-- Item -->
            <a href="portfolio-single.html" class="grid-item mix portfolio-item set-bg portraits"
                data-setbg="/assets/img/portfolio/11.jpg"></a>
            <!-- Item -->
            <a href="#" class="grid-item mix portfolio-item portfolio-next-btn">
                <h3>Next</h3>
            </a>
        </div>
    </section>
    <!-- portfilio Section end-->

    <!-- Banner Section -->
    <section class="banner-section set-bg" data-setbg="/assets/img/banner-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h2>Need a photographer? Get in touch</h2>
                </div>
                <div class="col-lg-3 text-lg-right text-left">
                    <div class="site-btn"><span>Read More</span></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section end -->