<body class="home-page">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    {% include nav.html %}



    <div id="fullpage">
        <!-- Hero section -->
        <div class="section fp-auto-height" id="hero-section">
            <div class="hero-slider owl-carousel">



                <div class="hs-item set-bg bg-front" data-setbg="/assets/img/front/front-1.jpg">
                    <div class="container text-white">
                        <h1>M. Sahlman</h1>
                        <h2>Ainutlaatuisia valokuvia</h2>
                        {% comment %}<div class="site-btn"><span>Lue Lisää</span></div> {% endcomment %}
                    </div>
                </div>
                <div class="hs-item set-bg bg-front" data-setbg="/assets/img/front/front-2.jpg">
                    <div class="container text-white">
                        <h1>M. Sahlman</h1>
                        <h2>Ainutlaatuisia valokuvia</h2>
                        {% comment %}<div class="site-btn"><span>Lue Lisää</span></div> {% endcomment %}
                    </div>
                </div>

                <div class="hs-item set-bg bg-front" data-setbg="/assets/img/front/front-3.jpg">
                    <div class="container text-white">
                        <h1>M. Sahlman</h1>
                        <h2>Ainutlaatuisia valokuvia</h2>
                        {% comment %}<div class="site-btn"><span>Lue Lisää</span></div> {% endcomment %}
                    </div>
                </div>

                <div class="hs-item set-bg bg-front" data-setbg="/assets/img/front/front-4.jpg">
                    <div class="container text-white">
                        <h1>M. Sahlman</h1>
                        <h2>Ainutlaatuisia valokuvia</h2>
                        {% comment %}<div class="site-btn"><span>Lue Lisää</span></div> {% endcomment %}
                    </div>
                </div>

                <div class="hs-item set-bg bg-front" data-setbg="/assets/img/front/front-5.jpg">
                    <div class="container text-white">
                        <h1>M. Sahlman</h1>
                        <h2>Ainutlaatuisia valokuvia</h2>
                        {% comment %}<div class="site-btn"><span>Lue Lisää</span></div> {% endcomment %}
                    </div>
                </div>

            </div>
            <div class="slide-num-holder" id="snh-1"></div>
            <div class="down-sign">
                <h6>Tutustu</h6>
                <img src="/assets/img/icons/arrow-down.png" alt="">
            </div>
            {% comment %}
            <div class="contact-link">
                <p>Ota yhteyttä</p>
                <a href="#"><img src="/assets/img/contact.jpg" alt=""></a>
            </div>
            {% endcomment %}

        </div>
        <!-- Hero section end -->

        <!-- About one Section -->
        <div id="section0" class="section about-section about-one">
            <div class="about-content-warp text-white">


                <video id="myVideo" loop muted data-autoplay playsinline>
                    <source src="/assets/img/section-bg/test.mp4" type="video/mp4">
                </video>
                <div class="about-content-warp text-white">
                    <h2>Wet Plate Collodion eli märkälevy</h2>
                    <p> Märkälevykuvaus keksittiin vuonna 1851 Englannissa. Keksijänä pidetään
                        Frederick Scott Archeria
                        ja vajaassa kymmenessä
                        vuodessa märkälevy syrjäytti lähes kokonaan aikaisemman valokuvaustavan, jota kutsuttiin
                        dagerrotypiaksi. Suomessa
                        ensimmäinen dagerrotypiavalokuva otettiin vuonna 1842.</p>

                    <p>
                        Märkälevykuvia on mahdollista tehdä metalli- tai lasilevylle ja se on käsityötä alusta loppuun.
                    </p>
                    {% comment %}
                    <div class="site-btn"><span><a href="wetplatecollodion.html">Tutustu</a></span></div>
                    {% endcomment %}

                </div>
            </div>
        </div>
        <!-- About one Section end-->
        {% comment %}

        <!-- About two Section -->
        <div class="section about-section about-two set-bg" data-setbg="/assets/img/section-bg/2.jpg">
            <div class="about-content-warp pull-left">
                <h2>Artistic Portraits</h2>
                <p>Maecenas facilisis facilisis consequat. Curabitur fringilla pellen-tesque neque, imperdiet efficitur
                    urna
                    gravida vel. Cras augue diam, sollicitudin sit amet felis ut, eleifend faucibus dui. Proin euis-mod
                    suscipit
                    lacus, et scelerisque nisi aliquam a. Nunc feugiat mattis quam, ut luctus enim ultrices at.</p>
                <div class="site-btn"><span>Read More</span></div>
            </div>
        </div>
        {% endcomment %}


    </div>
    <!-- About two Section end -->

    <!-- About three Section -->
    <div class="section about-section about-three set-bg darken-bg" data-setbg="/assets/img/section-bg/oysters2.jpg">

        <div class="container my-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="text-white">
                        <h2 style="margin-top: 0.5em">Hinnasto</h2>
                        <p class="text-dark<">
                            <ul class="list-group text-dark">
                                <li class="list-group-item text-dark opacity-70">10x12cm alumiinikuva (tintype) min. 3
                                    kuvaa 80
                                    &euro; </li>
                                <li class="list-group-item text-dark opacity-80">18x24cm alumiinikuva (tintype) 150
                                    &euro;</li>
                                <li class="list-group-item text-dark opacity-70">18x24cm lasilevykuva (ambrotype) 170
                                    &euro;</li>
                                <li class="list-group-item text-dark opacity-80">27x35cm lasilevykuva (ambrotype) 300
                                    &euro;</li>
                                <li class="list-group-item text-dark opacity-70">35x42cm lasilevykuva (ambrotype) 500
                                    &euro;</li>

                                <li class="list-group-item text-dark opacity-80">Kuvaus paikanpäällä alkaen 600 &euro; +
                                    min 3
                                    kuvaa. Kysy
                                    tarjous!</li>

                            </ul>



                        </p>
                    </div>
                </div>
                <div class=" col-lg-4 col-md-6">
                    <img src="/assets/img/promo/chris_web_1600.jpg" />
                </div>

            </div>
            <div class="row my-5">
                <div class="col-lg-9">
                    <h2 class="bg-light p-2 opacity-70"><a class="offer"
                            href="mailto:marko@sahlman.me?subject=Lahjakortti">Lahjakortit</a>
                    </h2>
                    <p class="bg-light opacity-70 p-2">Lahjakortit saatavilla haluamallesi summalle!</p>
                </div>
                <!--                <div class="col-lg-3 text-lg-right text-left">
                    <div class="site-btn"><span><a href="/tarjous.html"> Lue Lisää</a></span></div>
                </div> -->

            </div>

            <div class="row my-5">
                <div class="col-lg-9">
                    <h2 class="bg-light p-2 opacity-70"><a class="offer"
                            href="mailto:marko@sahlman.me?subject=Tarjouspyyntö">Haluatko
                            tarjouksen?</a></h2>
                    <p class="bg-light opacity-70 p-2">Haluatko tarjouksen isommasta kuvauksesta?
                        Märkälevykuvaus toimii hienosti vaikkapa tyhy -päivän ohjelmanumerona. Ota yhteyttä! </p>
                </div>
                <!--                <div class="col-lg-3 text-lg-right text-left">
                    <div class="site-btn"><span><a href="/tarjous.html"> Lue Lisää</a></span></div>
                </div> -->

            </div>

            <div class="row" id="contact">
                <div class="col-md-1">
                </div>
                <div class="col-md-6">
                    <div class="footer-info py-3" style="background-color: #000; color: #fff; opacity: 0.8;">
                        <h5>Ota yhteyttä</h5>
                        <ul>
                            <li>Marko Sahlman</li>
                            <li><a href="tel:+358451211125">+358451211125</a></li>
                            <li><a href="mailto:marko@sahlman.me"> marko@sahlman.me </a></li>
                            <li><a href="http://fb.com/valokuvaajamarkosahlman">Facebook</a>
                            </li>
                            <li><a href="http://instagram.com/sahlman.tintypes/">Instagram @sahlman.tintypes</a>
                            </li>
                            <li>
                            </li>
                        </ul>
                    </div>
                    <p class="text-light">
                        &copy;&nbsp;
                        <script>document.write(new Date().getFullYear());</script> Valokuvaaja Marko Sahlman.<br />
                        Kaikki
                        oikeudet pidätetään. <br />
                        Y-Tunnus:&nbsp;2958026-4
                    </p>
                </div>
                <div class="col-md-1">
                </div>
            </div>

            <hr>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with
            <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
        <!-- About three Section end-->
    </div>
    <script>
        window.onload = function () {
            'use strict';
            var vid = document.getElementById("myVideo");
            vid.play();
        };



    </script>