<body class="home-page">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    {% include nav.html %}


    <!-- portfilio Section -->
    <section class="portfilio-page">
        <div class="portfolios-area">
            <div class="grid-sizer"></div>
            <div class="grid-item portfolio-item __big __wide">
                <div class="portfolio-intro text-white">
                    <span>M. Sahlman</span>
                    <h2>Portfolio</h2>
                    {% comment %}
                    <ul class="portfolio-filter controls">
                        <li class="control" data-filter="all">Kaikki</li>
                        <li class="control" data-filter=".sensual">Potretit</li>
                        <li class="control" data-filter=".nature"></li>
                        <li class="control" data-filter=".portraits">Portraits</li>
                        <li class="control" data-filter=".weddings">Weddings</li>
                    </ul>
                    {% endcomment %}
                </div>
            </div>
            <!-- Item -->
            <a class="grid-item mix portfolio-item __big set-bg " data-setbg="/assets/img/portfolio/1.jpg"></a>
            <!-- Item -->
            <!-- Item -->
            <a class="grid-item mix portfolio-item set-bg artist portait  "
                data-setbg="/assets/img/portfolio/11.jpg"></a>
            <!-- Item -->
            <a class="grid-item mix portfolio-item set-bg portaits" data-setbg="/assets/img/portfolio/4.jpg"></a>
            <!-- Item -->
            <a class="grid-item mix portfolio-item set-bg  __big __wide" data-setbg="/assets/img/portfolio/2.jpg"></a>

            <a class="grid-item mix portfolio-item set-bg sensual" data-setbg="/assets/img/portfolio/5.jpg"></a>
            <!-- Item -->
            <a class="grid-item mix portfolio-item set-bg nature" data-setbg="/assets/img/portfolio/6.jpg"></a>
            <!-- Item -->
            <a class="grid-item mix portfolio-item set-bg portraits" data-setbg="/assets/img/portfolio/7.jpg"></a>
            <!-- Item -->
            <a class="grid-item mix portfolio-item set-bg portrait female __big"
                data-setbg="/assets/img/portfolio/13.jpg"></a>
            <a class="grid-item mix portfolio-item set-bg portrait female __big"
                data-setbg="/assets/img/portfolio/8.jpg"></a>
            <a class="grid-item mix portfolio-item set-bg artist portait  "
                data-setbg="/assets/img/portfolio/9.jpg"></a>
            <a class="grid-item mix portfolio-item set-bg artist portait  "
                data-setbg="/assets/img/portfolio/10.jpg"></a>

            <a class="grid-item mix portfolio-item set-bg artist portait "
                data-setbg="/assets/img/portfolio/12.jpg"></a>
            <a class="grid-item mix portfolio-item set-bg portraits artist"
                data-setbg="/assets/img/portfolio/3.jpg"></a>
            <!-- Item -->

            <!-- Item -->
            <!-- Item -->
            {% comment %} <a href="#" class="grid-item mix portfolio-item portfolio-next-btn">
                <h3>Next</h3> {% endcomment %}
            </a>
        </div>
    </section>
    <!-- portfilio Section end-->

    <!-- Banner Section -->
    <section class="banner-section set-bg" data-setbg="/assets/img/section-bg/footer-back.jpg">
        <div class="container">
            <div class="row pl-5">
                <div class="col-lg-9">
                    <h2><a href="mailto:marko@sahlman.me">Kiinnostuitko? Ota yhteyttä</a></h2>
                </div>

            </div>
        </div>
    </section>
    <!-- Banner Section end -->