<!-- Header Section -->
<header class="header-section">
    <div class="header-warp">
        <!-- logo -->
        <a href="index.html" class="site-logo">
            <img src="/assets/img/logo.png" alt="">
        </a>
        {% comment %}

        <div class="header-social">
            <a href="http://fb.com/valokuvaajamarkosahlman"><i class="fa fa-facebook"></i></a>
            <a href="http://instagram.com/sahlman.tintypes/"><i class="fa fa-instagram"></i></a>
        </div>

        <div class="nav-switch">
            <i class="fa fa-bars"></i>
        </div>
        <!-- menu -->

        <ul class="main-menu">
            <li><a href="me.html">Minä</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li><a href="blog.html">Uutiset</a></li>
            <li><a href="#contact">Yhteystiedot</a></li>
        </ul>
        {% endcomment %}

    </div>
</header>
<!-- Header Section end-->