<!-- Header Section -->
<header class="header-section">
    <div class="header-warp">
        <!-- logo -->
        <a href="index.html" class="site-logo">
            <img src="/assets/img/logo.png" alt="">
        </a>



        <div class="nav-switch">
            <i class="fa fa-bars"></i>
        </div>
        <!-- menu -->

        <ul class="main-menu">
            <li><a href="/">Etusivu</a> </li>
            <li><a href="/portfolio.html">Portfolio</a></li>
        </ul>

    </div>
</header>
<!-- Header Section end-->