<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    {% include nav.html %}


    <!-- portfilio single -->
    <section class="portfilio-single set-bg" data-setbg="/assets/img/portfolio/big.jpg">
        <div class="sp-container">
            <div class="portfolio-single-content text-white">
                <span>Proffesional Photographer</span>
                <h2>Artistic Photos</h2>
                <p>Maecenas facilisis facilisis consequat. Curabitur fringilla pellentesque neque, imperdiet efficitur
                    urna gravida vel. Cras augue diam, sollicitudin sit amet felis ut, eleifend faucibus dui. Proin
                    euismod suscipit lacus, et scelerisque nisi aliquam a. Nunc feugiat mattis quam, ut luctus enim
                    ultrices at.</p>
                <p>Fcilisis facilisis consequat. Curabitur fringilla pellentesque neque, imperdiet efficitur urna
                    gravida vel. Cras augue diam, sollicitudin sit amet felis ut, eleifend faucibus dui. Proin euismod
                    suscipit lacus, et scelerisque nisi aliquam a. Nunc feugiat mattis quam, ut luctus enim ultrices
                    ringilla pellenat.</p>
                <ul>
                    <li>
                        <h6>Client:</h6><span>Company Name</span>
                    </li>
                    <li>
                        <h6>Date:</h6><span>December 12, 2018</span>
                    </li>
                    <li>
                        <h6>Tag:</h6><span>artstic, art, nudes, women</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Portfolio single end -->

    <!-- Portfolio slider -->
    <div class="portfolio-slider-warp">
        <div class="portfolio-slider owl-carousel">
            <img src="/assets/img/portfolio-single/1.jpg" alt="">
            <img src="/assets/img/portfolio-single/2.jpg" alt="">
            <img src="/assets/img/portfolio-single/3.jpg" alt="">
            <img src="/assets/img/portfolio-single/4.jpg" alt="">
        </div>
        <div class="slide-num-holder" id="snh-1"></div>
    </div>
    <!-- Portfolio slider end -->


    <!-- Banner Section -->
    <section class="banner-section set-bg" data-setbg="/assets/img/banner-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h2>Need a photographer? Get in touch</h2>
                </div>
                <div class="col-lg-3 text-lg-right text-left">
                    <div class="site-btn"><span>Read More</span></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section end -->