<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    {% include nav.html %}

    <!-- Blog section-->
    <section class="blog-page set-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">



                    <div class="blog-item">
                        <div class="blog-thumb">
                            <img src="/assets/img/blog/1.jpg" alt="">
                            <div class="blog-date">{{ page.date2 }} </div>
                        </div>
                        <div class="blog-content">
                            <h3>{{ page.title }}</h3>
                            <div class="blog-metas">
                                <div class="blog-meta text-capitalize">{{ page.categories }}</div>
                                <div class="blog-meta">{{ page.author }}</div>
                            </div>
                            <p>
                                {{ page }}
                            </p>
                        </div>
                    </div>


                    <div class="site-pagination">
                        {% if page.previous.url %}

                        <a class="prev pull-left pl-5" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
                        {% endif %}
                        {% if page.next.url %}
                        <a class="next pull-right pr-5" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
                        {% endif %}

                    </div>


                </div>

                {% comment %}

                <div class="col-lg-3 col-md-6 sidebar">
                    <div class="sb-widget">
                        <form class="sb-search">
                            <input type="text" placeholder="Search">
                        </form>
                    </div>
                    <div class="sb-widget">
                        <h3 class="sb-title">Categories</h3>
                        <ul>
                            <li><a href="">Photography</a></li>
                            <li><a href="">Tips & Tricks</a></li>
                            <li><a href="">Social Events</a></li>
                            <li><a href="">Uncategorized</a></li>
                        </ul>
                    </div>
                    <div class="sb-widget">
                        <h3 class="sb-title">Latest Posts</h3>
                        <div class="sb-latest-post">
                            <div class="sbl-item">
                                <img src="/assets/img/blog/widget/1.jpg" alt="">
                                <span>December 22, 2018</span>
                                <h4>10 Tips to get a better shot</h4>
                                <p>Maecenas facilisis facilisis </p>
                            </div>
                            <div class="sbl-item">
                                <img src="/assets/img/blog/widget/3.jpg" alt="">
                                <span>December 22, 2018</span>
                                <h4>Fashion Photoshootings</h4>
                                <p>Maecenas facilisis facilisis </p>
                            </div>
                            <div class="sbl-item">
                                <img src="/assets/img/blog/widget/3.jpg" alt="">
                                <span>December 22, 2018</span>
                                <h4>10 Tips to get a better shot</h4>
                                <p>Maecenas facilisis facilisis </p>
                            </div>
                        </div>
                    </div>
                    <div class="sb-widget">
                        <h3 class="sb-title">Archive</h3>
                        <ul>
                            <li><a href="">November 1018</a></li>
                            <li><a href="">September 2018</a></li>
                            <li><a href="">August 2018</a></li>
                            <li><a href="">July 2018</a></li>
                        </ul>
                    </div>
                </div>
                {% endcomment %}

            </div>
        </div>
    </section>
    <!-- Blog section end-->

    <!-- Banner Section -->
    <section class="banner-section set-bg" data-setbg="/assets/img/section-bg/footer-back.jpg">
        <div class="container">
            <div class="row pl-5">
                <div class="col-lg-9">
                    <h2><a href="mailto:marko@sahlman.me">Kiinnostuitko? Ota yhteyttä</a></h2>
                </div>

            </div>
        </div>
    </section>
    <!-- Banner Section end -->